{% extends '::masteradmin.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
{% include 'ApartamentosApartamentosBundle:Employee:validateemployee.html.twig' %}
{% include 'ApartamentosApartamentosBundle:Employee:employeescriptajax.html.twig' %} 
{% endblock %}
{% block contenido %}
    <h2 class="titulo">{{'Editar Empleado'|trans}}</h2>
    <hr> 

    {{ form_start(edit_form) }}
    {% form_theme edit_form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    <div>
        {{ form_label(edit_form.companyid) }}
        {{ form_widget(edit_form.companyid) }}
        {{ form_errors(edit_form.companyid) }}
    </div><br>
    <div>
        {{ form_label(edit_form.tower) }}
        <br>
        {{ form_widget(edit_form.tower) }}
        {{ form_errors(edit_form.tower) }}
    </div><br>
    <div>
        {{ form_label(edit_form.completename) }}
        {{ form_widget(edit_form.completename)}}
        {{ form_errors(edit_form.completename) }}
    </div>

    <div>
        {{ form_label(edit_form.idnumber) }}
        {{ form_widget(edit_form.idnumber) }}
        {{ form_errors(edit_form.idnumber) }}
    </div>
    <div>
        {{ form_label(edit_form.salaryamount) }}
        {{ form_widget(edit_form.salaryamount) }}
        {{ form_errors(edit_form.salaryamount) }}
    </div>
    <div>
        {{ form_label(edit_form.position) }}
        {{ form_widget(edit_form.position) }}
        {{ form_errors(edit_form.position) }}
    </div>
    
   
{{ form_end(edit_form) }}

     <div style="display:table-row;">
          <a href="{{ path('employeegrid') }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/employee.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{'Empleados'|trans}}</span></a>

       </div> 
{% endblock %}
