{% extends '::masteradmin.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>

{% include 'LoginLoginBundle:Userrole:validateuserrole.html.twig' %}
{% endblock %}
{% block contenido %}
    <h2 class="titulo">{{ 'Nuevo rol del usuario / '|trans }} {% render url('Usernametwig', {'userid':  app.request.get('userid')}) %}</h2>
    <hr> 
    {{ form_start(form) }}
    {% form_theme form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    <div id="userdiv">
        {{ form_label(form.userid) }}
        {{ form_widget(form.userid)}}
        {{ form_errors(form.userid)}}
    </div>
    <div>
        {{ form_label(form.roleid) }}
        {{ form_widget(form.roleid)}}
        {{ form_errors(form.roleid)}}
    </div>
    
    <br>
    
    <div>{{ form_errors(form) }}</div>
    
{{ form_end(form) }}
         
    
     
      <div style="display:table-row;">
          <a href="{{ path('userroles',{'userid':app.request.get('userid')}) }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/usertitle.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{ 'Roles del Usuario'|trans }}</span></a>

       </div> 
{% endblock %}
