{% extends '::masteradmin.html.twig' %}

{% block contenido %}
    
     <div class=" row large-6 columns">
     
     <ul class="stack button-group">
     <li><h5>{{'configure.condo.title'|trans}}</h5> </li>    
     <li> 
     <a href="{{ path('companygrid') }}" class="button">
     <b><span>{{'Condominios'|trans}}</span></b>
     </a>
     </li>
     
     <li>
     <a href="{{ path('towergrid') }}" class="button radius">
     <b><span>{{'Torres'|trans}}</span></b>
     </a>
     </li>
     
     <li> 
     <a href="{{ path('apartmentgrid') }}" class="button radius">
     <b><span>{{'Apartamentos'|trans}}</span></b>
     </a>
     </li> 
     
     <li> 
     <a href="{{ path('employeegrid') }}" class="button radius">
     <b><span>{{'Empleados'|trans}}</span></b>
     </a>   
     </li> 
     
     <li> 
     <a href="{{ path('providergrid') }}" class="button radius">
     <b><span>{{'Proveedores'|trans}}</span></b>
     </a>   
     </li>
     
     <li> 
     <a href="{{ path('constcompanygrid') }}" class="button radius">
     <b><span>{{'Constructoras'|trans}}</span></b>
     </a> 
     </li>     
     </ul>
     </div> 
             {# if app.user.hasRole('Company Admin') or app.user.hasRole('ROLE_ADMIN') #}
     <div class="row large-6 columns"> 
     <ul class="stack button-group">
     <li><h5>{{'manage.budget.title'|trans}}</h5></li>    
     <li>
     <a href="{{ path('causegrid') }}" class="button">
     <b>{{'Causas'|trans}}</b>
     </a>
     </li>
            
     <li>
     <a href="{{ path('bankgrid') }}" class="button">
     <b>{{'Bancos'|trans}}</b>
     </a>
     </li>
            
     <li>
     <a href="{{ path('accountgrid') }}" class="button">
     <b><span>{{'Cuentas'|trans}}</span></b>
     </a>   
     </li>
            
     <li>
     <a href="{{ path('incomegrid') }}" class="button">
     <b><span>{{'Ingresos'|trans}}</span></b>
     </a>
     </li>
            
     <li>
     <a href="{{ path('paymentgrid') }}" class="button radius">
     <b><span>{{'Pagos'|trans}}</span></b>
     </a> 
     </li>
            
     <li>
     <a href="{{ path('expensegrid') }}" class="button radius">
     <b><span style ="padding-left:0px !important;">{{'Gastos'|trans}}</span></b>
     </a>
     </li>
     
     <li>
     <a href="{{ path('statementview') }}" class="button">
     <b><span>{{'Estado de Cuenta'|trans}}</span></b>
     </a>    
     </li> 
     </ul>
    </div>
     
      
     <div class="row large-6 columns">   
     <ul class="stack button-group">
     <li><h5>{{'config.residents.title'|trans}}</h5></li>    
     <li> 
     <a href="{{ path('residentsgrid') }}" class="button">
     <b><span>{{'Residentes'|trans}}</span></b>
     </a>
     </li>
           
    <li>
    <a href="{{ path('vehiclegrid') }}" class="button">
    <b><span>{{'Vehículos'|trans}}</span></b>
    </a>
    </li>
           
    <li>
    <a href="{{ path('parkinggrid') }}" class="button">
    <b><span>{{'Estacionamientos'|trans}}</span></b>
    </a>
    </li>
           
    <li>
    <a href="{{ path('locationgrid') }}" class="button">
    <b><span>{{'Localización'|trans}}</span></b>
    </a>
    </li>
           
    <li>
    <a href="{{ path('reservationgrid') }}" class="button">
    <b><span>{{'Reservaciones'|trans}}</span></b>
    </a>
    </li> 
    </ul>
    </div>
        
    {% if is_granted('ROLE_ADMIN') %}
     <div class ="row large-6 columns">
     <ul class="stack button-group">
     <li><h5>{{'config.system.title'|trans}}</h5></li>    
     <li>  
     <a href="{{ path('userslist') }}" class="button radius">
     <b><span>{{'Usuarios  '|trans}}</span></b>
     </a>
     </li> 
          
     <li> 
     <a href="{{ path('rolelist') }}" class="button radius">
     <b><span>{{'Roles'|trans}}</span></b>
     </a>
     </li>
          
     <li> 
     <a href="{{ path('actiongrid') }}" class="button radius">
     <b><span>{{'Acciones'|trans}}</span></b>
     </a>
     </li>
          
     <li> 
     <a href="{{ path('lexik_translation_grid') }}" class="button radius">
     <b><span>{{'Etiquetas'|trans}}</span></b>
     </a>
     </li> 
              
    <li>    
    <a href="{{ path('sysparamgrid') }}" class="button radius">
    <b><span>{{'Parámetros'|trans}}</span></b>
    </a>
    </li>
    </ul>
   {% endif %}
   </div>
{% endblock %}
