{% extends '::masteradmin.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/fullcalendar.css') }}" rel='stylesheet' />
<link href="{{ asset('css/fullcalendar.print.css') }}" rel='stylesheet' media='print'/>
<link href="{{ asset('css/calendarstyle.css') }}" rel='stylesheet' />
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script src={{ asset('js/moment.min.js') }}></script>
 <script src={{ asset('js/fullcalendar.min.js') }}></script>
 <script src={{ asset('js/lang-all.js') }}></script>
 {% include 'ApartamentosApartamentosBundle:Reservecalendar:calendarjavascript.html.twig' %}
{% endblock %}
 
{% block contenido %}
 <a href="{{ path('reservationgrid') }}" class="button radius">
 <img  src="{{ asset('images/back24.png') }}"/>
 <span>{{'Reservaciones'|trans}}</span>
 </a>
 <div id='calendar'></div>
 <div class="reveal-modal small" id="eventmodal" data-reveal >
  <table class ="dialogo">
    <h5 class="subheader"><b>{{'DETALLE DE LA RESERVA'|trans}}</b></h5>
    <hr>
    <tr>
    <td class ="titulocampo">{{'Nombre'|trans}}</td>
    <td><span id="name"></span></td>
    </tr>
    <tr>
    <td class ="titulocampo">{{'Condominio'|trans}}</td>
    <td><span id="condo"></span></td>
    </tr>
    <tr>
    <td class ="titulocampo">{{'Apartamento'|trans}}</td>
    <td><span id="apartment"></span></td>
    </tr>
    <tr>
    <td class ="titulocampo">{{'Torre'|trans}}</td>
    <td><span id="tower"></span></td>
    </tr>
    <tr>
    <td class ="titulocampo">{{'Desde'|trans}}</td>
    <td><span id="startTime"></span></td>
    </tr>
    <tr>
    <td class ="titulocampo">{{'Hasta'|trans}}</td>
    <td><span id="endTime"></span></td>
    </tr>
  </table>
        <a class="close-reveal-modal"><img src="{{ asset('images/dialog_close.png')}}"/></a>
    </div>
    <script>
        {% block foundation %}
        $("#cancelar").click(function (e) {
            $('#myNormal').foundation('reveal', 'close');
        });
        {% endblock %}
    </script>
    
{% endblock %}
