<nav class="top-bar" data-topbar data-options="is_hover: false">
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                <li class="name">
                <h1><a href="{{path('iniciologin')}}">{{ 'APARTMENT MANAGER'|trans }}</a></h1>
                </li>
            </ul>
         <section class="top-bar-section">
            <ul class="right">
                <li ><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('images/english.png') }}"/></a></li>
                <li ><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img src="{{ asset('images/spanish.png') }}"/></a></li>
               
                <li class="has-dropdown">
                <a href="#"><img src="{{ asset('images/usernav.png') }}"/>{{ app.user.username }}</a>
                    <ul class="dropdown">
                    <li><a href="{{path('logout')}}"><img src="{{ asset('images/logout.png') }}"/>{{'Salir'|trans }}</a></li>
                    </ul>
                </li>   
            </ul>
          <ul class="left">
            <li class="has-dropdown">
            <a href="#"><img src="{{ asset('images/condominio48.png') }}"/>{{'Condominio'|trans}}</a>
            <ul class="dropdown">
                <li><a href="{{path('companygrid')}}"><img src="{{ asset('images/condominio48.png') }}"/>{{ 'Condominio'|trans }}</a></li>
		<li><a href="{{path('towergrid')}}"><img src="{{ asset('images/tower48.png') }}"/>{{ 'Torres'|trans }}</a></li>
                <li><a href="{{path('apartmentgrid')}}"><img src="{{ asset('images/apartamentos48.png') }}"/>{{ 'Apartamentos'|trans }}</a></li>
                <li><a href="{{path('employeegrid')}}"><img src="{{ asset('images/employee48.png') }}"/>{{ 'Empleados'|trans }}</a></li>
                <li><a href="{{path('providergrid')}}"><img src="{{ asset('images/provider48.png') }}"/>{{ 'Proveedores'|trans }}</a></li>
                <li><a href="{{path('constcompanygrid')}}"><img src="{{ asset('images/constcompany48.png') }}"/>{{ 'Constructoras'|trans }}</a></li>
	    </ul>
            </li>
	
	</ul>
    
        <ul class="left">
           <li class="has-dropdown">
             <a href="#"><img src="{{ asset('images/resident48.png') }}"/>{{'Residentes'|trans}}</a>
             <ul class="dropdown">
                <li><a href="{{path('residentsgrid')}}"><img src="{{ asset('images/resident48.png') }}"/>{{ 'Residentes'|trans }}</a></li>
                <li><a href="{{path('vehiclegrid')}}"><img src="{{ asset('images/car48.png') }}"/>{{ 'Vehículos'|trans }}</a></li>
                <li><a href="{{path('parkinggrid')}}"><img src="{{ asset('images/parking48.png') }}"/>{{ 'Estacionamientos'|trans }}</a></li>
	        <li><a href="{{path('locationgrid')}}"><img src="{{ asset('images/location48.png') }}"/>{{ 'Localización'|trans }}</a></li>	
             </ul>
          </li>
        </ul>
{% if app.user.hasRole('Company Admin') or app.user.hasRole('ROLE_ADMIN') %}     
        <ul class="left">
           <li class="has-dropdown">
               <a href="#"><img src="{{ asset('images/finance48.png') }}"/>{{'Manejo de Presupuesto'|trans}}</a>
               <ul class="dropdown">
                  <li><a href="{{path('causegrid')}}"><img src="{{ asset('images/cause48.png') }}"/>{{ 'Causa'|trans }}</a></li>
		  <li><a href="{{path('expensegrid')}}"><img src="{{ asset('images/expense48.png') }}"/>{{ 'Gastos'|trans }}</a></li>
                  <li><a href="{{path('bankgrid')}}"><img src="{{ asset('images/bank48.png') }}"/>{{ 'Bancos'|trans }}</a></li>
                  <li><a href="{{path('accountgrid')}}"><img src="{{ asset('images/account48.png') }}"/>{{ 'Cuentas'|trans }}</a></li>
                  <li><a href="{{path('incomegrid')}}"><img src="{{ asset('images/income48.png') }}"/>{{ 'Ingresos'|trans }}</a></li>
	      </ul>
           </li>
	</ul>
{% endif %}

{% if is_granted('ROLE_ADMIN') %} 
        <ul class="left">
          <li class="has-dropdown">
            <a href="#"><img src="{{ asset('images/manage48.png') }}"/>{{'config.system.title'|trans}}</a>
            <ul class="dropdown">
                <li><a href="{{path('userslist')}}"><img src="{{ asset('images/usertitle48.png') }}"/>{{ 'Usuarios'|trans }}</a></li>
	        <li><a href="{{path('rolelist')}}"><img src="{{ asset('images/userroletitle.png') }}"/>{{ 'Roles'|trans }}</a></li>  
                <li><a href="{{path('lexik_translation_grid')}}"><img src="{{ asset('images/trans32.png') }}"/> {{ 'Etiquetas'|trans }}</a></li>
	    </ul>
          </li>
	</ul>
 {% endif %}
   </section>
</nav>

