{% extends '::masteradmin.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/additional-methods.min.js') }}"></script>
{% include 'LoginLoginBundle:User:validatepassword.html.twig' %}
{% endblock %}
{% block contenido %}
    <h2 class="titulo">{{ 'Cambiar contraseña'|trans }}{{' / '~ entity.username}}</h2>
    <hr> 
    {{ form_start(form) }}
    {% form_theme form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    {{ form_end(form) }}
         
    
     
      <div style="display:table-row;">
          <a href="{{ path('admin_user_show',{'id':entity.id}) }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/usertitle.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{ 'Detalles del Usuario'|trans }}</span></a>

       </div> 
{% endblock %}

