{% extends '::masteradmin.html.twig' %}
{% block javascripts %}
{{ parent() }}
{% include 'ApartamentosApartamentosBundle:Statementofaccount:Statementajaxscript.html.twig' %}
{% endblock %}
{% block contenido %}
    <div class="large-12 columns">
       <h2 class="titulo">{{'Estado de Cuenta'|trans}}</h2>
    <hr>
    </div> 
   
    <div class="large-12 columns">
     <form id="statementform" action="{{ path('statementgenerate')}}" method="post"> 
       <div class="large-12 columns"> 
        <div class="large-6 columns">
        {{'Mes'|trans}}<select id="months" name="months"> 
           <option value="0">{{ 'Seleccione un Mes'|trans }}</option>  
          {% for key,value in months|keys %}
          <option value="{{loop.index}}">{{ months[value]|trans}}</option>
          {% endfor %}
        </select> 
        </div>   
       </div>
       <div class="large-12 columns"> 
        <div class="large-6 columns">
         {{'Año'|trans}}
        <select id="years" name="years">
         <option value="0">{{ 'Seleccione un Año'|trans }}</option>     
          {% for item in years %}
          <option value="{{ years[item] }}">{{ years[item] }}</option>
          {% endfor %}
        </select>
        </div>   
       </div>
       <div class="large-12 columns"> 
        <div class="large-6 columns">
        {{'Condominio'|trans}}   
         <select id="condo" name="condo">
         <option value="0">{{ 'Seleccione un condominio'|trans }}</option>     
          {% for item in company%}
          <option value="{{ item.id}}">{{item.name}}</option>
          {% endfor %}
        </select>  
        </div>   
       </div>
       <div class="large-12 columns"> 
        <div class="large-6 columns">
        {{'Torre'|trans}}   
         <select id="tower" name="tower">
         <option value="0">{{ 'Seleccione una torre'|trans }}</option>      
        </select> 
        </div>   
       </div>
     <div class="large-12 columns"> 
        <div class="large-6 columns">
        <button type="submit" name="login" />{{'Consultar'|trans}}</button>
        </div>   
       </div>
     </form>    
    </div>
 
{% endblock %}