{% extends '::masteradmin.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
{% include 'LoginLoginBundle:Role:validaterole.html.twig' %}
{% endblock %}
{% block contenido %}
    <h2 class="titulo">{{ 'Nuevo Rol'|trans }}</h2>
    <hr> 
{{ form_start(form) }}
    {% form_theme form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name)}}
        {{ form_errors(form.name) }}
    </div>

{{ form_end(form) }}

      <div style="display:table-row;">
          <a href="{{ path('rolelist') }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/userrole.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{ 'Roles'|trans }}</span></a>

       </div> 
</ul>
{% endblock %}
