{% extends '::masteradmin.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
{% include 'ApartamentosApartamentosBundle:Resident:validateresident.html.twig' %}
{% include 'ApartamentosApartamentosBundle:Resident:residentajaxscript.html.twig' %} 
{% endblock %}
{% block contenido %}
<div class="large-12 columns">
    <div class="large-12 columns">
      <h2 class="titulo">{{'Editar Residente'|trans}}</h2>
      <hr>
    </div> 
    {{ form_start(edit_form) }}
    {% form_theme edit_form 'LoginLoginBundle:Form:form_errors_large_12.html.twig' %}
    
    <div class="large-12 columns">
        <div class="large-6 columns">
        {{ form_label(edit_form.companyid) }}
        {{ form_widget(edit_form.companyid)}}
        {{ form_errors(edit_form.companyid) }}
        </div>    
    </div><br>
    <div class="large-12 columns">
        <div class="large-6 columns">
        {{ form_label(edit_form.towerid) }}
        {{ form_widget(edit_form.towerid)}}
        {{ form_errors(edit_form.towerid) }}
        </div>
    </div>
     <div class="large-12 columns">
        <div class="large-6 columns">         
       {{ form_label(edit_form.apartmentid) }}
        {{ form_widget(edit_form.apartmentid)}}
        {{ form_errors(edit_form.apartmentid) }}
        </div>
    </div>
     <div class="large-12 columns">
         <div class="large-6 columns">   
        {{ form_label(edit_form.name) }}
        {{ form_widget(edit_form.name)}}
        {{ form_errors(edit_form.name) }}
         </div>     
    </div>
    
   <div class="large-12 columns">
       <div class="large-6 columns"> 
        {{ form_label(edit_form.idnumber) }}
        {{ form_widget(edit_form.idnumber) }}
        {{ form_errors(edit_form.idnumber) }}
       </div>   
    </div>
    <div class="large-12 columns">
        <div class="large-6 columns"> 
        {{ form_label(edit_form.idnumbertype) }}
        {{ form_widget(edit_form.idnumbertype) }}
        {{ form_errors(edit_form.idnumbertype) }}
        </div>    
    </div>
    <div class="large-12 columns">
         <div class="large-6 columns">  
        {{ form_label(edit_form.holder) }}
        {{ form_widget(edit_form.holder) }}
        {{ form_errors(edit_form.holder) }}
         </div>     
           
    </div>
     <div class="large-12 columns">
         <div class="large-6 columns">  
        {{ form_label(edit_form.email) }}
        {{ form_widget(edit_form.email) }}
        {{ form_errors(edit_form.email) }}
         </div>     
           
    </div>
     <div class="large-12 columns">
         <div class="large-6 columns">  
        {{ form_label(edit_form.phone) }}
        {{ form_widget(edit_form.phone) }}
        {{ form_errors(edit_form.phone) }}
         </div>     
           
    </div>
     <div class="large-12 columns">
         <div class="large-6 columns">  
         {{ form_label(edit_form.residenttypeid) }}
        {{ form_widget(edit_form.residenttypeid) }}
        {{ form_errors(edit_form.residenttypeid) }}
         </div>     
           
    </div>
    
    <div class="large-12 columns">
    <div class="large-6 columns">     
    <button type="submit">{{ 'Actualizar'|trans}}</button>
    <a href="{{ path('residentsgrid') }}" class="button">{{'Cancelar'|trans}}</a>
    </div>
    </div>    
    <div>{{ form_errors(edit_form) }}</div>
    {{ form_end(edit_form) }}
</div>
{% endblock contenido %}