{% extends '::masteradmin.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
{% include 'ApartamentosApartamentosBundle:Resident:validateresident.html.twig' %}
{% include 'ApartamentosApartamentosBundle:Resident:residentajaxscript.html.twig' %} 
{% endblock %}
{% block contenido %}
  
    <h2 class="titulo">{{'Nuevo Residente'|trans}}</h2>
    <hr> 

    {{ form_start(form) }}
    {% form_theme form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    
    <div>
        {{ form_label(form.companyid) }}
        {{ form_widget(form.companyid)}}
        {{ form_errors(form.companyid) }}
    </div><br>
    <div>
        {{ form_label(form.towerid) }}
        {{ form_widget(form.towerid)}}
        {{ form_errors(form.towerid) }}
    </div><br>
    <div>
        {{ form_label(form.apartmentid) }}
        {{ form_widget(form.apartmentid)}}
        {{ form_errors(form.apartmentid) }}
    </div><br>
    
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name)}}
        {{ form_errors(form.name) }}
    </div>

    <div>
        {{ form_label(form.idnumber) }}
        {{ form_widget(form.idnumber) }}
        {{ form_errors(form.idnumber) }}
    </div>
    <div>
        {{ form_label(form.idnumbertype) }}
        {{ form_widget(form.idnumbertype) }}
        {{ form_errors(form.idnumbertype) }}
    </div><br>
    <div>
        {{ form_label(form.holder) }}
        {{ form_widget(form.holder) }}
        {{ form_errors(form.holder) }}
    </div><br>
     <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div>
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
   <div>
        {{ form_label(form.residenttypeid) }}
        {{ form_widget(form.residenttypeid) }}
        {{ form_errors(form.residenttypeid) }}
   </div><br>
  
{{ form_end(form) }}

     <div style="display:table-row;">
          <a href="{{ path('residentsgrid') }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/resident.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{'Residentes'|trans}}</span></a>

       </div> 
    
   
{% endblock %}

