{% extends '::masteradmin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui-1.10.4.custom.css') }}" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script type="text/javascript"src="{{ asset('js/datepicker.js') }}"></script>
{% include 'ApartamentosApartamentosBundle:ExpenseInvoice:validatedocument.html.twig' %}
{% endblock %}
{% block contenido %}
  
    <h2 class="titulo">{{'Editar Documento'|trans}}</h2>
    <hr> 

    {{ form_start(edit_form) }}
    {% form_theme edit_form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    <div>
        {{ form_label(edit_form.expenseid) }}<br><br>
        {{ form_widget(edit_form.expenseid) }}
        {{ form_errors(edit_form.expenseid) }}
    </div><br>
   
    <div>
        {{ form_label(edit_form.name) }}
        {{ form_widget(edit_form.name) }}
        {{ form_errors(edit_form.name) }}
    </div><br>
    <div>
        {{ form_label(edit_form.description) }}
        {{ form_widget(edit_form.description)}}
        {{ form_errors(edit_form.description) }}
    </div>
         
 {% do edit_form.file.setRendered %}
{{ form_end(edit_form) }}

    <div style="display:table-row;">
          <a href="{{ path('expenseinvoicegrid',{ 'id':app.request.get('expid')}) }}"><img style="display:table-cell;vertical-align:middle;" src="{{ asset('images/documents32.png') }}"/><span style="display:table-cell;
 vertical-align:middle;" >{{'Documentos'|trans}}</span></a>

       </div> 
   
{% endblock %}