{% extends '::masteradmin.html.twig' %}

{% block contenido %}
    <h2 class="titulo">{{'Detalle del par치metro multiple'|trans}}</h2>
    <hr>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="error">
            <table>
                <tr><td><img  src="{{ asset('images/warning.png') }}"/></td>
                    <td>{{ flashMessage|trans}}</td>
                </tr>
            </table>
        </div><br>
    {% endfor %}
    <table style="border:none;">
        <tr>
            {% if deleteaction=='S' %}
                <td>
                    <a href="#" data-reveal-id="myNormal" class="button radius">
                        <img  src="{{ asset('images/delete32.png') }}"/>
                        <span>{{'Eliminar par치metro multiple'|trans}}</span>
                    </a>
                </td>
            {% endif %}
        </tr>
    </table>
    <table class="record_properties">
        <tr>
            <td class="titulocampo">{{'Identificador'|trans}}</td>
            <td>{{ entity.sysparamid.name}}</td>
        </tr>

        <tr>
            <td class="titulocampo">{{'Valor'|trans}}</td>
            <td>{{ entity.value }}</td>
        </tr>
        <tr>
            <td class="titulocampo">{{'Descripci칩n'|trans}}</td>
            <td>{{ entity.description }}</td>
        </tr>
    </table>

    <div class="reveal-modal small" id="myNormal" data-reveal >
        &iquest;{{'delete.multiparam.question'|trans}}?
        <br><br>
        <table class="dialogo">
            <tr>
                <td><a class="radius button" href="{{ path('action_deletemultiparam', { 'sysparamid':entity.sysparamid.id,'id': entity.id }) }}">{{'Aceptar'|trans}}</a></td>
                <td><a id ="cancelar" class="radius button" href="#">{{'Cancelar'|trans}}</a></td>
            </tr>
        </table>
        <a class="close-reveal-modal"><img src="{{ asset('images/dialog_close.png')}}"/></a>
    </div>
    <script>
        {% block foundation %}
        $("#cancelar").click(function (e) {
            $('#myNormal').foundation('reveal', 'close');
        });
        {% endblock %}
    </script>
    <a href="{{ path('multiparamgrid',{'sysparamid':entity.sysparamid.id}) }}" class="button radius">
        <img  src="{{ asset('images/back24.png') }}"/>
        <span>{{'Par치metros multiples'|trans}}</span>
    </a>
{% endblock %}