{% extends '::masteradmin.html.twig' %}

{% block contenido %}
    <h2 class="titulo">{{'Detalles del condominio'|trans}}</h2>
    <hr>
   {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="error">
        <table>
            <tr><td><img  src="{{ asset('images/warning.png') }}"/></td>
                <td>{{ flashMessage|trans }}</td>
            </tr>   
        </table> 
    </div><br>
{% endfor %}
    <table style="border:none;">
        <tr>
        
         <td> 
          <a href="{{ path('company_towergrid',{'id':entity.id}) }}" class="button radius">
              <img  src="{{ asset('images/condominio.png') }}"/>
              <span>{{'Torres'|trans}}</span>
          </a>   
        </td>
        {% if editaction =='S' %}
        <td> 
          <a href="{{ path('company_edit',{ 'id': entity.id }) }}" class="button radius">
              <img  src="{{ asset('images/edit32.png') }}"/>
              <span>{{'Editar Condominio'|trans}}</span>
          </a>   
        </td>
        {% endif%}
        {% if deleteaction =='S' %}
        <td> 
          <a href="#" data-reveal-id="myNormal" class="button radius">
              <img  src="{{ asset('images/delete32.png') }}"/>
              <span>{{'Eliminar condominio'|trans}}</span>
          </a>
        </td>
        {% endif%}
        </tr>    
    </table>
    <br>
    <table>
            <tr>
                <td  class="titulocampo">{{'nombre'|trans}}</td>
                <td>{{ entity.name}}</td>
            </tr>
             <tr>
                <td  class="titulocampo">{{'teléfono'|trans}}</td>
                <td>{{ entity.phone}}</td>
            </tr>
            <tr>
                <td  class="titulocampo">{{'dirección'|trans}}</td>
                <td>{{ entity.address}}</td>
            </tr>
            <tr>
                <td  class="titulocampo">{{'código'|trans}}</td>
                <td>{{ entity.companycode}}</td>
            </tr>
           
            <tr>
                <td  class="titulocampo">{{'email'|trans}}</td>
                <td>{{ entity.email}}</td>
            </tr>
            <tr>
                <td  class="titulocampo">{{'Página web'|trans}}</td>
                <td>{{ entity.website}}</td>
            </tr>
            <tr>
                <td  class="titulocampo">{{'Constructora'|trans}}</td>
                <td>{{ entity.constCompanyid.name}}</td>
            </tr>
            
    </table>
   <div class="reveal-modal small" id="myNormal" data-reveal >
      &iquest;{{'delete.company.question'|trans}}?
	  <br><br>
	  <table class="dialogo">
	  <tr>
	  <td><a class="radius button" href="{{ path('company_deletemodal', { 'id': entity.id }) }}">{{'Aceptar'|trans}}</a></td>
	  <td><a id ="cancelar" class="radius button" href="#">{{'Cancelar'|trans}}</a></td>
	  </tr>
	  </table>
      <a class="close-reveal-modal"><img src="{{ asset('images/dialog_close.png')}}"/></a>
  </div>
    <br><br><div> 
          <a href="{{ path('companygrid') }}" class="button radius">
              <img  src="{{ asset('images/back24.png') }}"/>
              <span>{{'Condominios'|trans}}</span>
          </a>   
    </div>
    <script>
     {% block foundation %}
   $("#cancelar").click(function (e) {
    $('#myNormal').foundation('reveal', 'close');
});
{% endblock %} 
    </script>
{% endblock %}
