{% extends '::masteradmin.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>

{% include 'LoginLoginBundle:Roleaction:validateroleaction.html.twig' %}
{% endblock %}
{% block contenido %}
    <h2 class="titulo">{{'Nueva acción del rol'}}{{' / '}}{% render url('Rolenametwig', {'roleid':  app.request.get('roleid')}) %}
    <hr> 
    {{ form_start(form) }}
    {% form_theme form 'LoginLoginBundle:Form:form_errors.html.twig' %}
    <div id="userdiv">
        {{ form_label(form.roleid) }}
        {{ form_widget(form.roleid)}}
        {{ form_errors(form.roleid)}}
    </div>
    <div>
        {{ form_label(form.actionid)}}
        {{ form_widget(form.actionid)}}
        {{ form_errors(form.actionid)}}
    </div>
    
    <br>
    
    <div>{{ form_errors(form) }}</div>
    
{{ form_end(form) }}
        <br><div> 
          <a href="{{ path('roleactiongrid',{'roleid':app.request.get('roleid')}) }}" class="button radius">
              <img  src="{{ asset('images/back24.png') }}"/>
              <span>{{'Acciones del rol'|trans}}</span>
          </a>   
    </div> 
    
{% endblock %}
