{% extends '::masteradmin.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/responsive-tables.css') }}" />
{% endblock %}
{% block javascripts %}
 {{parent()}}
<script src="{{ asset('js/responsive-tables.js') }}"></script>
{% endblock %}

{% block contenido %} 
 <h2 class="titulo gridcontrol_location">{{'Marcas'|trans }}</h2>
 <div class ="gridcontrol_location"><hr></div> 

 
{% block grid %}
  {# NEW Action Button #}
  <div class="grid">
  <div class="row large-12 columns"> 
  {# Check Create Company Role #}
  {% if create =='S'%}  
      <div class="row large-4 columns gridcontrol_location"> 
      <a href="{{path(urlnew)}}" class="button radius">
      <img  src="{{ asset('images/new.png') }}"/><span class="grid_new_button">{{'Nueva Marca'|trans}}</span>
      </a>
      </div> 
  {% endif %} 
  </div>
      
  {# Grid Search Filters #}
  <form id="{{ grid.hash }}_search" action="{{ grid.routeUrl }}" method="post">    
  <div class="row large-12 columns">   
  {% block grid_search %}
  {% if grid.isFilterSectionVisible %}
   
   {% for column in grid.columns %}
   {% if column.isFilterable and column.type not in ['actions', 'massaction'] %}
   {% set columnTitle = grid.prefixTitle ~ column.title %}
   <div class="{{ cycle(['odd', 'even'], loop.index) }} large-6 columns left">
   <label>{{ columnTitle|trans }}</label>
   {{ grid_filter(column, grid, false)|raw }}
   </div>
   {% endif %}
   {% endfor %}
  </div> 
  <div class="row large-12 columns left gridcontrol_location"> 
      
    <input type="submit" value="{{ 'Buscar'|trans }}" class="button radius"/>
    
  </div>    
  </form>    
  {% endif %}
  {% endblock grid_search %}
 
 {# Grid Results #}      
   <div class="row large-12 columns">  
   
   {# Check Create Role#} 
   
     <div class="row large-4 columns">   
         <span></span>
     </div>
   </div>
   <div class="row large-12 columns">    
     <div class="row large-4 columns gridcontrol_location">
         <span class="grid_resultstext">{{grid.totalCount~' '}}{{'Resultados'|trans}}</span>    
     </div>   
   </div> 
   <div class="row large-12 columns">
    <div class="row large-4 columns grid_row_number">
    {{ 'Mostrar'|trans}}<select onchange="return {{ grid.hash }}_resultsPerPage(this.value);" class="paginado">
    {% for key, value in grid.limits %}
    <option value="{{ key }}"{% if (key == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
    {% endfor %}
    </select>     
    </div>   
   </div>
   
      
   {# GRID Data #}
      
   <div class="row large-12 columns gridcontrol_location">
   {% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
   <div class="grid_header">
   {% if grid.massActions|length > 0 %}
   {{ grid_actions(grid) }}
   {% endif %}
   </div>
   <div class="grid_body">
   <table class="responsive">
   
   {# Grid titles #}
   {% block grid_titles %}
   <thead>       
   <tr class="grid-row-titles">
   {% for column in grid.columns %}
   {% if column.visible(grid.isReadyForExport) %}
   <th class="{% if column.align != 'left'%}align-{{ column.align }}{% endif %}{% if column.class %} {{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if(column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>
   {%- spaceless %}
   {% if column.type == 'massaction' %}
   <input type="checkbox" class="grid-mass-selector" onclick="{{ grid.hash }}_markVisible(this.checked);"/>
   {% else %}
   {% set columnTitle = grid.prefixTitle ~ column.title ~ '__abbr' %}
   {% if columnTitle|trans == columnTitle %}
   {% set columnTitle = grid.prefixTitle ~ column.title %}
   {% endif %}
   {% if (column.sortable) %}
   <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle|trans }}">{{ columnTitle|trans }}</a>
   {% if column.order == 'asc' %}
   <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle|trans }}"><img src="{{asset('images/sort_up.gif')}}"/> </a>
   {% elseif column.order == 'desc' %}
   <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle|trans }}"><img src="{{asset('images/sort_down.gif')}}"/> </a>
   {% endif %}
   {% else %}
   {{ columnTitle|trans }}
   {% endif %}
   {% endif %}
   {% endspaceless -%}
   </th>
   {% endif %}
   {% endfor %}
   </tr>
   {% endblock grid_titles %}
    </thead>
    {# Grid Body #}
    <tbody>
    {% block grid_rows %}
        
    {% for row in grid.rows %}
    {% set last_row = loop.last %}
    {% spaceless %}
    <tr{% if row.color != '' %} style="background-color:{{ row.color }};"{% endif %} class="grid-row-cells {{ cycle(['odd', 'even'], loop.index) }}{% if row.class != '' %} {{ row.class }}{% endif %}">
    {% for column in grid.columns %}
    {% if column.visible(grid.isReadyForExport) %}
    <td class="grid-column-{{ column.renderBlockId }}{% if column.class %} {{ column.class }}{% endif %}{% if column.align != 'left'%} align-{{ column.align }}{% endif %}{% if loop.last %} last-column{% endif %}{% if last_row %} last-row{% endif %}">{{ grid_cell(column, row, grid)|raw }}</td>
    {% endif %}
    {% endfor %}
    {% endspaceless %}
    </tr>
    {% else %}
    {{ grid_no_result(grid) }}
    {% endfor %}
    
   {% endblock grid_rows %}
   </tbody>
   </table>
   </div>
   </div>        
    
   {# Grid Footer #}
   <div class="row large-12 columns">
   <div class="grid_footer">
        {% if grid.isPagerSectionVisible %}
            {% block grid_pager %}
    {% if pagerfanta %}
        {{ grid_pagerfanta(grid) }}
    {% else %}
    {# Grid Pagination #}
    <div>
    <ul class="pagination">
    <li class={% if grid.page <= 0 %}"arrow unavailable" aria-disabled="true"{% else %}"arrow"{% endif %}>
    <a {% if grid.page > 0 %}onclick="return {{ grid.hash }}_previousPage();"{% endif %}>&laquo; {{'previous.text'|trans}}</a>
    </li>    
    {% for i in range(1, grid.pageCount) %}
    <li {%if i == grid.page + 1 %}class="current"{%endif%}>
    <a  value="{{i}}" onclick ="return {{ grid.hash }}_goto('{{ grid_url('page',grid,i-1) }}');">{{i}}</a></li>
    {% endfor %}
    <li class={% if grid.page >= grid.pageCount-1 %}"arrow unavailable" aria-disabled="true"{%else%}"arrow"{% endif %}>
    <a onclick="return {{ grid.hash }}_nextPage();" >{{'next.text'|trans}} &raquo;</a>
    </li>   
    </ul>
    </div>  
    <br>  
   {% endif %}
   {% endblock grid_pager %}
   {% endif %}
   {% if grid.exports|length > 0 %}
   {{ grid_exports(grid) }}
   {% endif %}
   {% if grid.tweaks|length > 0 %}
   {{ grid_tweaks(grid) }}
   {% endif %}
  </div>
  </div>
  {% if withjs %}
  {{ grid_scripts(grid) }}
  {% endif %}
  {% else %}
  <br>{{ grid_no_data(grid) }}
  {% endif %}
  </div>
  
 {% endblock grid %}
 <br><br>
  <div class="row large-12 columns gridcontrol_location">
  <a href="{{ path('vehiclegrid') }}" class="button radius">
  <img  src="{{ asset('images/back24.png') }}"/>
  <span>{{'Vehículos'|trans}}</span>
  </a>  
  </div>
      
 {% endblock contenido %}



